/data/unencoded-video-24x18-30fps.json
/data/unencoded-video-20x15-30fps.json
*.log
/node_modules
/data/encoded-video-20x15-30fps.json
/data/unencoded-video-20x15-30fps - Copia.json
/data/encoded-video-20x15-30fps-mirrored-tiles.json
/data/encoded-video-20x15-30fps-mirrored-tiles-sample.json
/data/encoded-video-20x15-30fps-tilebank.json
/data/encoded-video-20x15-30fps-deltarle.json
